<div class="expanded row flow-image">
</div>

<div class="row">
  <br>
    <p class="module-description columns ">Filter by module type</p>
    <% @families.each_with_index do |fam, i| %>
      <div class="module-type columns small-12 medium-4 large-2">
        <%= link_to zoon_modules_path(family: fam.family) do %>
          <%= image_tag("module#{i}.png") %>
          <%= fam.family %>
        <% end %>
      </div>
    <% end %>

    <span class="module-serch columns small-12 medium-4 large-2">
      <%= form_tag zoon_modules_path, method: :get do %>
        <%= text_field_tag :query, params[:query], placeholder:"search" %>
      <% end %>
    </span>
</div>

<div class="row">
    <% @zoon_modules.each do |mod| %>
      <%= link_to mod do %>

        <div class="columns small-12 medium-6 large-4 ">

          <div class="module-card">
            <span class="module-title"><%= mod.title && mod.title.include?(':') ? mod.title.split(":")[1] : mod.title %></span>
            <span class="module-version  <%= mod.family %>"><%= mod.version %></span>
            <span class="module-description"><%= mod.description %></span>
          </div>

          <div class="module-footer <%= mod.family %>">
            <span class="module-date"><%= mod.family  %></span>
          </div>

        </div>

      <% end %>
    <% end %>
</div>

